@model MediaCommMVC.Core.ViewModel.ForumsIndexViewModel
<table id="forumsTable">
    <thead>
        <tr>
            <th colspan="2">
                @Resources.Forums.Forum
            </th>
            <th>
                @Resources.Forums.Topics
            </th>
            <th>
                @Resources.Forums.Posts
            </th>
            <th>
                @Resources.Forums.LastPost
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (MediaCommMVC.Core.ViewModel.ForumViewModel forum in Model.Forums.OrderBy(f => f.DisplayOrderIndex))
        { 
            <tr>
                <td>
                    <span class="ui-icon @forum.IconClass"></span>
                </td>
                <td>
                    <div class="forumTitle">
                        @Html.ActionLink(forum.Title, "Forum", new { id = forum.Id, name = forum.UrlFriendlyTitle })
                    </div>
                    <div class="forumDesc">
                        @forum.Description
                    </div>
                </td>
                <td>
                    @forum.TopicCount
                </td>
                <td>
                    @forum.PostCount
                </td>
                <td>
                    @forum.LastPostAuthor
                    @if (!string.IsNullOrEmpty(forum.LastPostAuthor))
                    { 
                        @Resources.Forums.By 
                        @Html.ActionLink(forum.LastPostAuthor, "Profile", "Users", new { username = forum.LastPostAuthor }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<footer id="forumIndexFooter">
    <table>
        <tr>
            <td>
                <span class="ui-icon ui-icon-mail-closed"></span>
            </td>
            <td>
                @Resources.Forums.NewPosts
            </td>
            <td>
                <span class="ui-icon ui-icon-mail-open"></span>
            </td>
            <td>
                @Resources.Forums.NoNewPosts
            </td>
        </tr>
    </table>
</footer>
