@model MediaCommMVC.Core.ViewModels.Pages.Forums.TopicPageViewModel
@{
    ViewBag.Title = "Topic";
}
<nav id="breadcrumb">
    <span class="ui-icon ui-icon-home"></span><span>@Html.ActionLink(Resources.Navigation.Forums, "Index")</span>
    <span class="ui-icon ui-icon-carat-1-e"></span><span>
        @Html.ActionLink(Model.ForumTitle, "Forum", new { name = Model.UrlFriendlyForumTitle, id = Model.ForumId })
    </span><span class="ui-icon ui-icon-carat-1-e"></span><span><strong>
        @Html.ActionLink(Model.TopicTitle, "Topic", new { name = Model.UrlFriendlyTopicTitle, id = Model.TopicId })
    </strong></span>
</nav>
<table>
    <thead>
        <tr>
            <th>
                @Resources.Forums.Author
            </th>
            <th>
                @Resources.Forums.Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr id="@post.Id">
                <td class="postInfo">
                    <div class="author">
                        @Html.ActionLink(post.AuthorUserName, "Profile", "Users", new { username = post.AuthorUserName }, null)
                    </div>
                    <div class="postDate">
                        @post.CreatedDate
                    </div>
                </td>
                <td class="postText">
                    <div class="postOptions">
                        @if (post.CurrentUserIsAllowedToEdit)
                        {
                            @:@Html.ActionLink(Resources.Forums.Edit, "EditPost", new { id = post.Id })

                            using (Html.BeginForm("DeletePost", "Forums", new { id = post.Id }))
                            {                        
                            @:<a id="submitDelete_@post.Id" class="deletePost" href="#"> @Resources.Forums.Delete</a>
                                                                            }
                        }
                    </div>
                    <div>
                        @post.Text
                    </div>
                </td>
            </tr>            
        }
    </tbody>
</table>
