@model MediaCommMVC.Core.ViewModels.Pages.Forums.ForumsIndexViewModel
<nav id="breadcrumb">
    <span class="ui-icon ui-icon-home"></span><strong>
        @Html.ActionLink(Resources.Navigation.Forums, "Index")
    </strong>
</nav>
<table id="forums-table" class="ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th colspan="2">
                @Resources.Forums.Forum
            </th>
            <th class="forum-topicCount">
                @Resources.Forums.Topics
            </th>
            <th>
                @Resources.Forums.Posts
            </th>
            <th>
                @Resources.Forums.LastPost
            </th>
        </tr>
    </thead>
    <tbody class="ui-widget-content">
        @foreach (var forum in Model.Forums.OrderBy(f => f.DisplayOrderIndex))
        { 
            <tr>
                <td class="forum-icon">
                    <span class="ui-icon @forum.IconClass"></span>
                </td>
                <td class="forum-main">
                    <div class="forum-title">
                        @Html.ActionLink(forum.Title, "Forum", new { id = forum.Id, name = forum.UrlFriendlyTitle })
                    </div>
                    <div class="forum-desc">
                        @forum.Description
                    </div>
                </td>
                <td class="forum-topicCount">
                    @forum.TopicCount
                </td>
                <td class="forum-postCount">
                    @forum.PostCount
                </td>
                <td class="forum-lastPost">
                    @if (forum.HasPosts)
                    { 
                        <div class="forum-lastPostTime">
                            @forum.LastPostTime
                        </div>
                        @Resources.Forums.By@:&nbsp;
                        @Html.ActionLink(forum.LastPostAuthor, "Profile", "Users", new { username = forum.LastPostAuthor }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<footer id="forums-footer">
    <table>
        <tr>
            <td>
                <span class="ui-icon ui-icon-mail-closed"></span>
            </td>
            <td class="caption">
                @Resources.Forums.NewPosts
            </td>
            <td>
                <span class="ui-icon ui-icon-mail-open"></span>
            </td>
            <td class="caption">
                @Resources.Forums.NoNewPosts
            </td>
        </tr>
    </table>
</footer>
