<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>

        <script type="text/javascript">
            var baseUrl = '@Request.ApplicationPath'
    </script>

    @Html.CombresLink("siteCss")
    @Html.CombresLink("siteJs")
    <script type="text/javascript">
        $(function () {
            $("#mainNav").buttonset();
            $("#themeswitcher").themeswitcher();
        });
    </script>
</head>
<body>
    <div id="container" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <header id="mainHeader">
            <div id="upperHeader" class="ui-helper-clearfix">
                <h1 id="title">
                    My nice Title</h1>
                <div id="logindisplay">
                    <span id="themeswitcher"></span>
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
            <nav id="mainNav">
                <div class="menu-item">
                    <input type="radio" id="radio1" name="menu" /><label for="radio1">Home</label>
                </div>
                <div class="menu-item">
                    <input type="radio" id="radio2" name="menu" /><label for="radio2">Forums</label>
                    <div class="hover-menu">
                        <div class="menu-item">
                            <input type="radio" id="forumsRadio1" name="ForumsMenu" /><label for="forumsRadio1">Forum
                                123</label>
                        </div>
                        <div class="menu-item">
                            <input type="radio" id="forumsRadio2" name="ForumsMenu" /><label for="forumsRadio2"
                                class="ui-corner-bottom">Forum abc</label>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="radio" id="radio3" name="menu" /><label for="radio3">Photos</label>
                </div>
                <div class="menu-item">
                    <input type="radio" id="radio4" name="menu" /><label for="radio4">Movies</label>
                </div>
                <div class="menu-item">
                    <input type="radio" id="radio5" name="menu" /><label for="radio5">Users</label>
                </div>
            </nav>
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer id="footer">
        </footer>
    </div>
</body>
</html>
